@model PagedList.IPagedList<DVCP.Models.Post>
@using PagedList.Mvc;
@{
    //ViewBag.Title = "Home Page";
    GetData data = new GetData();
}


<div class="row">
    <div class="col-12">
        <!-- Start top-post Area -->
        <!-- End top-post Area -->
    </div>
    <div class="col-12">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="p-title ml-md-1"><b>Dân sinh</b></h4>
                        @{
                            int count = 0;
                        }
                        @foreach (var item in Model)
                        {

                            <div class="link row oflow-hidden pos-relative mb-md-2 mb-1 dplay-block ml-md-1">
                                <div class="col-md-4 col-12 pl-md-0 pb-sm-2" style="height:auto">
                                    <a href="/bai-viet/@item.post_slug">
                                        <img src="@item.img" alt="@item.Title1" />
                                    </a>
                                </div><div class="col-md-8 col-12 pt-sm-2 pt-md-0">
                                    <div class="min-h-100x">
                                        <h5> <a class="font-weight-bold" href="@Url.Action("ViewArticle", new { url = item.Url })" style="font-size: 28px;">@item.Title1</a></h5>
                                        <p>@(item.des.Length >= 150 ? item.des.Substring(0, 150) : item.des + "..")</p>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                    <!-- container -->

                    <div class="col-md-4">
                        <!-- Phổ biến -->
                        <div class="pl-20 pl-md-0">
                            <div class="popular-post">
                                <h4 class="p-title"><b>PHỔ BIẾN</b></h4>
                                @foreach (var item in Model.Take(3))
                                {
                                    <a class="link oflow-hidden pos-relative mb-20 dplay-block" href="/bai-viet/@item.post_slug">
                                        <div style="background-image:url(/Upload/images/@item.img))" class="wh-100x abs-tlr img-bg-head">  <img src="@item.img" alt="@item.Title1" /></div>
                                        <div class="ml-120 min-h-100x smallpop">
                                            <h5 class="poppost">@item.Title1</h5>
                                            <h6 class="color-lite-black pt-2 mb-1">
                                                <i class="fa fa-calendar-o mr-1"></i>@String.Format("{0:dd/MM/yyyy}", item.create_date)  <i class="fa fa-eye mr-1 ml-2"></i> @item.ViewCount
                                            </h6>
                                        </div>
                                    </a>
                                }
                            </div>
                            @*<div class="mtb-50 mb-md-0">
                                    <h4 class="p-title"><b>CẬP NHẬT THÔNG TIN</b></h4>
                                    <p class="mb-20">
                                        Đăng ký để nhận những thông tin, cập nhật và những bài viết mới của chúng tôi
                                    </p>
                                    <form class="nwsltr-primary-1">
                                        <input type="text" placeholder="Your email" />
                                        <button type="submit"><i class="fa fa-send"></i></button>
                                    </form>
                                </div>*@
                            <div class="mtb-50 mb-md-0">
                                <h4 class="p-title"><b>DANH MỤC</b></h4>
                                <div class="widget-content list-label-widget-content mt-1">
                                    <ul>
                                        @foreach (var i in data.GetListTags())
                                        {
                                            <li><a href="/danh-muc/@SlugGenerator.SlugGenerator.GenerateSlug(i.TagName.ToLower())-@i.TagID">@i.TagName</a></li>
                                        }
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="text-center">
        @Html.PagedListPager(Model, page => Url.Action("Dansinh", new { page }))
    </div>
</div>
